* {
  margin: 0px;
  padding: 0px;
}
img{
  width: 250px;
  margin-bottom:50px;
  margin-top: 20px;
  text-align: CENTER;
}

body {
 font-family: "Playfair Display", cursive;
  font-size: 25px;
  background: gray;
  background-image: url("Fundo1.jpeg");
  background-size: cover;
  background-position: CENTER;
  background-attachment: fixed;
  color: white;
}  

main{
  color: white;
  font-size: 25px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 546px;
}

button{
font-family: "Source Code Pro", monospace;
  background-color: white;
 border: solid 2px black;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom:10px;
  margin-top:10px;
}

button:hover{
  background-color:rgb(53,114,221)
}

footer{
font-family: "Homemade Apple", cursive;
background-color: rgb(0,109,138);
text-align: CENTER; 
color: black;
}

.passo{
  display: none;
}

.passo.ativo{
  display: block;
}


footer > a:link {
  color: white;
  text-decoration: none;
}

footer > a:visited {
  color: #FFFFFF;
}
a:hover{

    animation: rgbgay 3s infinite;
}

@keyframes rgbgay {
    11%{
        color: gray;
    }
    22% {
        color: red;
    }
    33% {
        color: orange;
    }
    44%{
        color: yellow;
    }
    55%{
        color: rgb(11, 224, 11);
    }
    66%{
        color: rgb(25, 136, 255);
    }
    77%{
        color: rgb(9, 91, 177);
    }
    88%{
        color: rgb(170, 0, 170);
    }
    100%{
        color: black;
    }
}
